{% extends 'base.html' %}

{% block meta %}
  <meta name="twitter:card" content="photo">
  <meta name="twitter:creator" content="@Lumilux">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:image" content="http://lumilux.org/{{ photos[0].image_path }}">
  <meta name="twitter:image:width" content="{{ photos[0].width }}">
  <meta name="twitter:image:height" content="{{ photos[0].height }}">
{% endblock %}

{% block content %}
  {% for photo in photos %}
  <img data-src="/{{ photo.image_path }}" data-width="{{ photo.width }}" data-height="{{ photo.height }}" />
  {% endfor %}
  <noscript>
    {% for photo in photos %}
    <img src="/{{ photo.image_path }}" />
    {% endfor %}
  </noscript>
{% endblock %}

{% block post_nav %}
  <nav>
    <ul>{% if prev_path %}
      <li><a href="{{ prev_path }}" id="prev">&#x2190;</a></li>{% endif %}{% if next_path %}
      <li><a href="{{ next_path }}" id="next">&#x2192;</a></li>{% endif %}
    </ul>
  </nav>
{% endblock %}

{% block date %}
<time pubdate id="date">{{ date|date_format }}</time><span id="share"{{ ' data-slug="{0}"'.format(slug) if slug else '' }}{{ ' data-tags="{0}"'.format(', '.join(tags)) if tags else '' }}></span>
{% endblock %}
